body {
    background: -webkit-gradient(linear, left top, left bottom, from(#aceaff), to(#1e4661)) fixed;
    color: black !important;
    padding: 0;
    margin: 0;
    /*height: 100%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




.line {
    max-width: 50%;
    border-color: #292121;
}

.light-blue {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 14px 1px;
    /* background: rgba(170, 234, 255, 0.9);*/
    background: rgba(163, 230, 255, 0.9);
    box-shadow: 2px 2px 50px rgba(35, 33, 33, 0.5);
    background-color: rgba(69, 147, 175, 0.9);
    background-image: linear-gradient(to right, rgba(131, 196, 219, 0.9), rgba(78, 162, 193, 0.9));
}

.leadings {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.title {
    padding: 23px 7px 4px;
    text-align: left;
    /* font-size: 5.001em;*/
    font-size: 3vw;
    font-weight: 700;
    line-height: normal;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1.5);
    /* background: rgba(69, 147, 175, 0.9);
    background: -webkit-gradient(linear, left top, left bottom, from(#87d5ef), to(#1e4661)) fixed;*/
    box-shadow: 2px 2px 50px rgba(35, 33, 33, 0.5);
    margin-bottom: 30px;
    background-color: rgba(69, 147, 175, 0.9);
    background-image: linear-gradient(to right, rgba(157, 222, 245, 0.9), rgba(69, 147, 175, 0.9));
}


.title2 {
    padding: 5px 0 10px;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    line-height: normal;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1.5);
}

.carousel {
    border-radius: 10px;
    overflow: hidden;
}


.light-blue:after {
    content: '';
    display: table;
    clear: both;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-weight: 600;
}


/*td {
    border: 1px solid rgb(12, 12, 12);
}*/


tr:nth-child(even) {
    /*font-style: italic;*/
    /* border: 3px rgb(0, 0, 0) double;*/
    /*border-bottom: 1px solid #000;*/
    width: 50%;
    /* background: rgba(154, 230, 255, 0.9);*/
}

table {
    width: 100%;
    height: 100%;
    /* border: 3px red double;*/
}

table-1 {
    /* background: rgba(154, 230, 255, 0.9);*/

}

.titles-food {
    color: #FFBD59;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
    box-shadow: 2px 2px 5px rgba(41, 40, 40, 0.5);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    /* text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);*/
}


footer {
    background-color: rgba(69, 147, 175, 0.9);
    background-image: linear-gradient(to right, rgba(131, 196, 219, 0.9), rgba(48, 114, 138, 0.9));
}

main {
    flex-grow: 1;
}


footer h4 {
    color: #FFBD59;
    margin: 0;
    padding: 10px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.5);
}

.hr-length {
    width: 50%;
    border: none;
    border-top: 0px;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}


.liner {
    border-top: 1px solid rgb(0, 0, 0);
    width: 70%;
}

.navbar-default {
    background-color: rgba(69, 147, 175, 0.9);
    background-image: linear-gradient(to right, rgba(157, 222, 245, 0.9), rgba(69, 147, 175, 0.9));
    /* border-color: inherit;*/
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #ffae3d;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgb(0 0 0);
    text-align: center;
    padding: 9px 30px 9px 15px;
}

/* to center nav a's*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


/* to center nav a's*/




.navbar-toggle {
    background-color: #ffae3d;
}


.navbar-toggle:hover {
    background-color: #ffae3d !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(0, 0, 0);
}


@media screen and (max-width:766px) {
    .title {
        padding: 6px 7px 0px;
    }

    .title2 {
        font-size: 6vw;
    }
}

@media screen and (max-width:470px) {
    footer h4 {
        font-size: 3.5vw;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 1.5em;
        padding: 2px 30px 5px 15px;
    }
}




@media screen and (min-width:766px) {

    .navbar-brand {
        display: none;
    }
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-default .navbar-brand {
    color: rgb(46, 44, 44);
}









a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}